@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1b1b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-gray: #dadada;
  --color-dark-red: #97737f;
  --font-sans: var(--font-sans);
  --font-cinzel: var(--font-cinzel);
}

@utility container {
  max-width: 72.5rem;
  margin: 0 auto;
  padding-block: 6.25rem;

  @media (max-width: 768px) {
    padding-block: 3.5rem;
  }
}

@utility form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20.32rem;
}

@utility form-glow {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

select,
input,
textarea {
  border: 1px solid silver;
  border-radius: 6px;
  padding: 0.5rem;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}